<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="LocalFeed" value="C:\LocalNuGet" />
		<add key="Github" value="https://nuget.pkg.github.com/Microservice-Architecture-NET-A-Rename/index.json" />
		<add key="Nuget" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="LocalFeed">
			<package pattern="*" />
			<!-- Priorité absolue -->
		</packageSource>
		<packageSource key="Github">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Nuget">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>